/*#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}*/
.tag1
{
  font-size: 40px;
  font-weight: bold;
}

ion-col
{
  color: gray;
  font-style: normal ;
  font-size: x-small;
  padding: 10px;
}



.table-header{
  background-color: maroon;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;

}

.table-header ion-col{
  color: white;
  
}




.table-data{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}




